.container {
  padding: 10px;
  min-width: 100%;
  .ticket-container {
    width: 35%;
    height: 100%;
    .ticket {
      background-color: $white;
      height: 250px;
      width: 100%;
      padding: 5px;
      border: 1px solid $color_4;
      border-radius: 5px;
    }
  }

  .table-container {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Opcional: para visualizar mejor el contenedor */
    width: 100%;
    .pedidos-table {
      background-color: $white;
      border-collapse: collapse;
      width: 100%;
      .table_header_fixed {
        position: sticky;
        top: 0;
        // z-index: 0;
        box-shadow: inset 1px 1px #000, 1px 1px #000;
        background-color: $color_2;
      }
      .pedidos-cell {
        border: 1px solid $color_4;
      }
    }
  }
}
